body {
    font-family: 'Lato';
    color: #fee715ff;

}
h1{
    font-family: 'Poppins', sans-serif  ;
}
h2{
    font-family: 'Poppins', sans-serif  ;
    
}

.hitam {
    background-color: #101820ff;

}

a {
    color: #fefefe;
    font-family: 'Lato';
}

a:hover {
    color: #fee715ff;
}
.isi_tab{
    min-width: 380px;
    min-height: 200px;
}
section {
   
    min-height: 400px;
    width: 100%;
    background-color: #101820ff;
}

.yellow {
    color: #fee715ff !important;
}
.bg-kuning{
    background-color: #fee715ff !important;
}
.hitam{
    color: #101820ff !important;
}
.black_doff {
    background-color: #101820ff;

}
.card{
    border-radius: 5px;
}
.kantung{
    padding-bottom: 10px;
    border-bottom: 3px solid #AAA;
    border-bottom-width: thin;
}
.img-kecil{
    width: 180px;
    height: 120px;
    float: left;
}

#topheader .navbar-nav li>a {
    color: #fee715ff;
    transition: background-color .2s, color .2s;

}

#topheader .navbar-nav li.active>a {
    border-bottom: 3px solid #fee715ff;
    border-bottom-width: thin;
    color: #fff;
}

.carousel-item {
    max-height: 500px;
}


::-webkit-scrollbar-button {
    display: block;
    height: 13px;
    border-radius: 0px;
    background-color: #AAA;
}

::-webkit-scrollbar-button:hover {
    background-color: #AAA;
}

::-webkit-scrollbar-thumb {
    background-color: #FED829;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FED829;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #7e7e7e;
}

::-webkit-scrollbar-track:hover {
    background-color: #FED829;
}

::-webkit-scrollbar {
    width: 10px;
}
/* slider */

* {
    box-sizing: border-box;
  }

  .slider {
      width: 50%;
      margin: 100px auto;
  }

  .slick-slide {
    margin: 0px 20px;
  }

  .slick-slide img {
    width: 100%;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }


  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }
  
  .slick-active {
    opacity: .5;
  }

  .slick-current {
    opacity: 1;
  }
  .slider{
      width: 90%;
  }
/* end slider */

/* berita */
/* .berita{
    overflow: hidden;
}
.berita img{
    height: 300px;
    width: auto;
} */